
:root { 
  --grey: #5b5b5b; 
  --headline1: roman 2rem/normal Avenir; 
  --subtitle1: book 1rem/1rem Avenir; 
  --body1: roman 0.875rem/1.375rem Avenir; 
  --body1: 900 0.875rem/1.375rem Avenir; 
  --button: 500 0.875rem/1rem Avenir; 
    
}

body {
  color: var(--white);
  background-color: var(--black);
}



