
:root { 
  --primary: #2b79bd; 
  --white: #fffffe; 
  --grey: #5f6c7b; 
  --secondary: #90b4ce; 
  --tertiary: #ef4565; 
  --blue: #094067; 
  --background-1: #d8eefe; 
  --background-2: #242629; 
  --background-button: #eaf0f3; 
  --button-background: #3da9fc; 
  --headline1: 700 4.5rem/5rem Inter; 
  --headline2: 700 4rem/4.75rem Inter; 
  --headline3: 700 2rem/2rem Inter; 
  --headline4: 700 1.5rem/1.649999976158142rem Inter; 
  --button: semi bold 1.125rem/1.6875rem Inter; 
  --caption: 400 0.75rem/1.6875rem Arvo; 
  --headline5: 700 1.25rem/1.649999976158142rem Inter; 
  --body1-regular: 400 1.125rem/1.6875rem Inter; 
  --body1-bold: 700 1.125rem/1.6875rem Inter; 
  --body2-regular: 400 0.875rem/1.5rem Inter; 
  --body2-bold: 700 0.875rem/1.6875rem Inter; 
    
}

body {
  color: var(--white);
  background-color: var(--primary);
}



