
:root { 
  --primary: #5928e5; 
  --white: #ffffff; 
  --secondary: #fed9da; 
  --black: #000000; 
  --headline1: 700 6.25rem/5.8125rem Exo; 
  --headline2: 700 3.6875rem/5.96637487411499rem Exo; 
  --headline3: 700 3rem/4.854000091552734rem Exo; 
  --headline4: 700 2rem/1.899999976158142rem Exo; 
  --headline5: 700 1.5rem/1.75rem Exo; 
  --body1: 400 1.125rem/1.6875rem Cantarell; 
  --body2: 400 1rem/1.375rem Cantarell; 
  --button: 700 1rem/1.5rem Cantarell; 
  --caption: 400 0.75rem/1.375rem Cantarell; 
}

body {
  color: var(--white);
  background-color: var(--primary);
}



