
:root {
  --white: #e4e6ea; 
  --black: #242525; 
  --bg: #181919; 
  --red: #dd3e4e; 
  --grey: #3a3b3b; 
  --primary: #4886f7; 
  --secondary: #a786df; 
  --tertiary: #72757e; 
  --green: #68ba6b; 
  --purple: #6b47dc; 
  --subtitle2: 600 0.75rem/normal Nunito; 
  --headline-headline1: extrabold 1.5rem/normal Nunito; 
  --headline-headline2: 700 1.375rem/normal Nunito; 
  --subtitle-subtitle1: 600 1.125rem/normal Nunito; 
  --body1-regular: 400 1rem/1.5rem Nunito; 
  --body1-bold: 700 1rem/1.5rem Nunito; 
  --body2-regular: 400 0.875rem/1.5rem Nunito; 
  --body2-bold: 700 0.875rem/1.5rem Nunito; 
  --button-button: 600 0.875rem/1rem Nunito; 
  --caption-caption: 400 0.75rem/normal Nunito; 
      
}

body {
  color: var(--white);
  background-color: var(--black); 
  font: var(--body1-regular);
}



